<h2 class="page-header">Users</h2>
{{#if isAdmin}}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Name</th>
                <th>Email</th>
                <th>Login</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
            {{#each model}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{#link-to 'users.user' this}}{{username}}{{/link-to}}</td>
                    <td>{{name}}</td>
                    <td>{{email}}</td>
                    <td>{{fromnow login_date}}</td>
                    <td>{{yesno is_admin}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>Oops, you are not allowed to be here.</p>
{{/if}}
