<h2 class="page-header">Signup</h2>
<p>You too can signup for this pretty amazing service.</p>

<div class="jumbotron">
    <form class="form-horizontal">
        <div class="form-group">
            {{input type="text" class="form-control" id="inputUsername" value=username placeholder="Username"}}
        </div>
        <div class="form-group">
            {{input type="text" class="form-control" id="inputName" value=name placeholder="Full name"}}
        </div>
        <div class="form-group">
            {{input type="email" class="form-control" id="inputEmail" value=email placeholder="Email"}}
        </div>
        <div class="form-group">
            {{input type="password" class="form-control" id="password" value=password placeholder="Password"}}
        </div>
        <div class="form-group">
            {{input type="password" class="form-control" id="password_confirmation" value=password_confirmation placeholder="Confirm password"}}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-sm" {{action "saveSignupUser"}}>
                <span class="glyphicon glyphicon-thumbs-up"></span>  Sign up
            </button>
            <button type="submit" class="btn btn-default btn-sm" {{action "cancelSignupUser"}}>
                <span class="glyphicon glyphicon-thumbs-down"></span> Cancel
            </button>
        </div>
    </form>
</div>
