{{#if isEditing}}
    {{outlet}}
{{else}}
    <h2 class="page-header">Users</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Name</th>
                <th>Email</th>
                {{#if isAdmin}}
                    <th>Login</th>
                    <th>Admin</th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#each}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{#link-to 'user' this}}{{username}}{{/link-to}}</td>
                    <td>{{name}}</td>
                    <td>{{email}}</td>
                    <td>{{from-now login_date}}</td>
                    <td>{{yes-no is_admin}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <button type="button" class="btn btn-primary btn-sm" title="Create a new user" {{action "createUser"}}>
        <span class="glyphicon glyphicon-plus"></span> Create
    </button>
{{/if}}
